            /* start default color */
.option-box .gear-check , 
.active , 
.btn-outline-success:hover ,
.nav-item.dropdown a:hover ,
.btn-danger ,
.btn-danger:hover ,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    background-color: indigo ;
}

.to-top {
    background-color: rgba(77, 0, 133 , 0.7) ;
}

.option-box .gear-check , 
.btn-outline-success:hover ,
.nav-item.dropdown a:hover , 
.btn-danger:not(:disabled):not(.disabled):active, 
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
}

.btn-outline-success ,
.btn-outline-success:hover ,
.btn-danger:hover ,
.btn-danger ,
.option-box .color-option ,
.btn-danger:not(:disabled):not(.disabled):active, 
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    border-color:  indigo ;
}

.navbar-brand span ,
.btn-outline-success ,
.about h1 span ,
.feat .fa ,
.price-box h3 ,
.footer h3 ,
.footer .COPYRIGHT span {
    color: indigo ;
}


.btn-danger:focus, .btn-danger.focus ,
.btn-danger:not(:disabled):not(.disabled):active, 
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle ,
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus  {
    box-shadow: 0 0 0 0.2rem rgba(75, 0, 130 , 0.5) ;
}

                                                /* end default color */